[MESSAGES CONTROL]
disable=C0303,C0301,R0914,R0912,W0718,W1203,R0915

[FORMAT]
max-line-length=100

[BASIC]
good-names=i,j,k,ex,Run,_,fd,fp

[DESIGN]
max-locals=20
max-branches=20

[LOGGING]
logging-format-style=old

[MISCELLANEOUS]
notes=FIXME,XXX,TODO
